* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    margin: 0px;
    font-family: monospace;
    color: white;

}

#titlelayout{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1; 
    height: 100vh;
}


.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;   
}

main {
    width: 100vw;
    height: 200vw;
    z-index: 99;
    position: absolute;
    justify-content: center;
    text-align: left;
    pointer-events: none;
    font-size: 5vh;
}

section {
    min-height: 100vh;
    padding: 20px;
    font-size: 4vh;
}

#scrollProgress {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    font-size: 3vh;
}
.camerapos{
    z-index: 99;   
    color:white;
    /* position: absolute; */
    top: 20px;
    left: 20px;
    font-size: 24px;
   
   }

   #container {
    position: fixed;
    background-color: black;
  }

  #back{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -2;
  }

  #cb{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 4vh;
    left: 4.5vw;
    z-index: 0; 
    height: 14vh;
  }

  #b{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 69vh;
    left: 4.5vw;
    z-index: 1; 
    height: 6vh;
    z-index: -1;
  }