* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;   
}

.camerapos{
 z-index: 1;   
 color:white;
 /* position: absolute; */
 top: 20px;
 left: 20px;
 font-size: 24px;

}

#container {
    position: relative;
    background-color: black;
  }
  
  #back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
  }