* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'VTCcolorful';
    src: url('public/VTCColorful-Regular.ttf');
}

body {
    margin: 0px;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 0;
}

#back {
    position: fixed;
    top: -50vh;
    width: 100vw;
    height: 150vh;
    background-color: black;
    z-index: -2;
}

#cb {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 4vh;
    left: 4.5vw;
    z-index: 1;
    height: 14vh;
}

#titles {
    position: fixed;
    top: 40vh;
    left: 4.5vw;
    z-index: -1;
    font-family: 'VTCcolorful';
}


/* #ptitle {} */

#mw {
    line-height: 0vh;
    font-size: 12.5vh;
    color: #FF64F1;
}

#ed {
    line-height: 6vh;
    font-size: 5vh;
    color: #55FF26;
}

#may12 {
    line-height: 10vh;
    font-size: 12.5vh;
    color: #FFF827;
}

#th {
    position: relative;
    top: -4.2vh;
    font-size: 7vh;
    color: #FFF827;
}

#b {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 66vh;
    left: 4.5vw;
    z-index: 1;
    height: 6vh;
}

.mobilebutton {
    position: fixed;
    left: 4.5vw;
    width: 30vw;
    z-index: -5;
}

#b2 {
    top: 35vh;
}

#b1 {
    top: 29.5vh;
}

#phonedirectionbtn {
    position: fixed;
    font-family: 'VTCcolorful';
    font-size: 3vh;
    border-radius: 0;
    border-width: 0.125vh;
    height: 4.27vh;
    width: 38.27vw;
    z-index: 10;
    top: 79.5vh;
    left: 4.5vw;
}

.btnoff {
    color: #ffffff;
    background-color: #000;
}

.btnon {
    color: #000;
    background-color: #fff;
}